<fieldset class="row grid">
    <div class="col-md-12">
        <legend>
            {{$ctrl.title}}
        </legend>
    </div>
    <div class="col-md-12">
        <div class="alert alert-danger" ng-show="$ctrl.showAlert">
            {{$ctrl.alert}}
        </div>
    </div>
    <label class="{{(item.class ? item.class : 'col-md-4')}}" ng-repeat="item in $ctrl.fields">
        <span class="{{item.required ? 'required-label' : ''}}">{{item.label}}</span>
        <div ng-switch="item.type">
            <select
                ng-switch-when='list'
                id="{{item.id}}"
                name="{{item.id}}" 
                class="form-control" 
                ng-model="$ctrl.model[item.id]" 
                ng-options="itemList[(item.listLabel) ? item.listLabel : 'descricao'] for itemList in item.list track by itemList[(item.listLabel) ? item.listLabel : 'descricao']">
                <option value="">Selecione</option>
            </select>
            <input
                ng-switch-when="checkbox"
                id="{{item.id}}"
                name="{{item.id}}" 
                type="{{item.type}}"
                style="margin-top: 10px"
                ng-model="$ctrl.model[item.id]">
            <input
                ng-switch-when="file"
                id="{{item.id}}"
                name="{{item.id}}" 
                type="{{item.type}}"
                class="form-control" 
                style="height: auto"
                ng-model="$ctrl.model[item.id]">
            <input
                ng-switch-when="number"
                id="{{item.id}}"
                name="{{item.id}}" 
                type="{{item.type}}"
                class="form-control" 
                placeholder="{{item.placeholder}}"
                ng-model="$ctrl.model[item.id]">
            <textarea 
                ng-switch-when="textarea"
                id="{{item.id}}"
                name="{{item.id}}" 
                class="form-control"
                rows="{{item.rows}}"
                ng-model="$ctrl.model[item.id]"></textarea>
            <div class="input-group" ng-switch-when="period">
                <input 
                    id="{{item.id}}Begin"
                    name="{{item.id}}Begin"
                    class="form-control" 
                    ng-model="$ctrl.model[item.id+'Begin']" 
                    is-open="$ctrl[item.id+'Begin'].opened" 
                    uib-datepicker-popup="dd/MM/yyyy"
                    alt-inputs-formats="['M!/d!/yyyy']" 
                    datepicker-options="{ dateDisabled: false }"
                    placeholder="{{item.beginPlaceholder}}">
                <span class="input-group-addon poppup-cursor" ng-click="$ctrl[item.id+'Begin'].opened = true">
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
                <input 
                    id="{{item.id}}Final"
                    name="{{item.id}}Final"
                    class="form-control" 
                    ng-model="$ctrl.model[item.id+'Final']" 
                    is-open="$ctrl[item.id+'Final'].opened" 
                    uib-datepicker-popup="dd/MM/yyyy"
                    alt-inputs-formats="['M!/d!/yyyy']" 
                    datepicker-options="{ dateDisabled: false }"
                    placeholder="{{item.finalPlaceholder}}">
                <span class="input-group-addon poppup-cursor" ng-click="$ctrl[item.id+'Final'].opened = true">
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
            </div>
            <div class="input-group" ng-switch-when="date">
                <input 
                    id="{{item.id}}"
                    name="{{item.id}}"
                    class="form-control" 
                    ng-model="$ctrl.model[item.id]" 
                    is-open="$ctrl[item.id].opened" 
                    uib-datepicker-popup="dd/MM/yyyy"
                    alt-inputs-formats="['M!/d!/yyyy']" 
                    datepicker-options="{ dateDisabled: false }"
                    placeholder="{{item.placeholder}}">
                <span class="input-group-addon poppup-cursor" ng-click="$ctrl[item.id].opened = true">
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
            </div>
            <input
                ng-switch-default
                id="{{item.id}}"
                name="{{item.id}}" 
                type="{{item.type}}"
                class="form-control" 
                placeholder="{{item.placeholder}}"
                ng-model="$ctrl.model[item.id]">
        </div>
    </label>
    <div class="col-md-12">
        <button type="button" class="btn btn-default" ng-click="$ctrl.save()">
            {{($ctrl.index < 0) ? 'Incluir' : 'Salvar'}}
        </button>
        <button type="button" ng-if="$ctrl.index >= 0" class="btn btn-default" ng-click="$ctrl.model = {}; $ctrl.index = -1">
            Cancelar
        </button>
        <br>
        <br>
    </div>
    <div class="col-md-12">
        <div class="table-responsive-grid">
            <table class="table" ng-show="$ctrl.ngModel.length">
                <thead>
                    <tr>
                        <th ng-repeat="field in $ctrl.fields" ng-if="field.type != 'file' && field.required">{{field.label}}</th>
                        <th class="actions">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in $ctrl.ngModel track by $index">
                        <td ng-repeat="field in $ctrl.fields" ng-if="field.type != 'file' && field.required">{{$ctrl.getLabelByField(field, item)}}</td>
                        <td class="actions">
                            <span>
                                <button 
                                    type="button"
                                    class="btn btn-info btn-sm" 
                                    tooltip-placement="bottom" 
                                    uib-tooltip="Editar"
                                    ng-click="$ctrl.edit(item, $index)">
                                    <i class="fa fa-edit"></i>
                                </button>&nbsp;
                            </span>
                            <span>
                                <button
                                    type="button"
                                    class="btn btn-danger btn-sm" 
                                    tooltip-placement="bottom" 
                                    uib-tooltip="Remover"
                                    ng-click="$ctrl.remove($index)">
                                    <i class="fa fa-times"></i>
                                </button>&nbsp;
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</fieldset>