<div class="table-responsive-grid">
    <table class="table table-striped">
        <thead>
            <tr>
                <th ng-repeat="field in $ctrl.fields">{{field.label}}</th>
                <th ng-if="::$ctrl.actions" class="actions">
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in $ctrl.ngModel track by $index">
                <td ng-repeat="field in $ctrl.fields">{{$ctrl.getLabelByField(field, item)}}</td>
                <td ng-if="::$ctrl.actions" class="actions">
                    <span ng-repeat="button in $ctrl.actions track by $index">
                        <span uib-dropdown ng-if="::button.dropdown">
                            <button
                                type="button"
                                class="btn {{(button.class) ? button.class : 'btn-default'}} btn-sm" 
                                tooltip-placement="bottom" 
                                uib-tooltip="{{button.label}}"
                                id="menu-table-grid-{{$parent.$parent.$parent.$index}}" 
                                uib-dropdown-toggle
                                ng-click="button.callback(item, $parent.$index)">
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="menu-table-grid-{{$parent.$parent.$parent.$index}}">
                                <li ng-repeat="itemDropdown in button.dropdown">
                                    <a href ng-click="itemDropdown.callback(item, $parent.$parent.$parent.$index)"><i class="fa fa-{{itemDropdown.icon}}" aria-hidden="true"></i> {{itemDropdown.label}}</a>
                                </li>
                            </ul>
                        </span>
                        <button
                            ng-if="::!button.dropdown"
                            type="button"
                            class="btn {{(button.class) ? button.class : 'btn-default'}} btn-sm" 
                            tooltip-placement="bottom" 
                            uib-tooltip="{{button.label}}"
                            ng-click="button.callback(item, $parent.$parent.$index)">
                            <i class="fa fa-{{button.icon}}"></i>
                        </button>&nbsp;
                    </span>
                </td>
            </tr>
            <tr ng-if="$ctrl.ngModel.length == 0">
                <td colspan="{{($ctrl.actions) ? $ctrl.fields.length+1 : $ctrl.fields.length}}">{{($ctrl.noFoundMessage) ? $ctrl.noFoundMessage : 'Não foi encontrado nenhum registro.'}}</td>
            </tr>
        </tbody>
        <tfoot ng-if="::$ctrl.footer">
            <tr>
                <td class='{{($ctrl.classFotter) ? $ctrl.classFotter : "text-right"}}' colspan="{{($ctrl.actions) ? $ctrl.fields.length+1 : $ctrl.fields.length}}">
                    {{$ctrl.footer}}
                </td>
            </tr>
        </tfoot>
    </table>
</div>