<form name="tepForm" novalidate ng-submit="$ctrl.salvar()">
    <div class="row">
        
        <label class="col-md-8">
            <span>Descricão</span>
                <textarea 
                ng-disabled="true"
                name="descricaoProjeto" 
                id="descricaoProjeto" 
                class="form-control"
                ng-model="$ctrl.model.descricaoProjeto"
                rows="3"></textarea>
        </label>

        <div class="col-md-12">
            <grid
                ng-model="$ctrl.model.tep.entregas"
                fields="$ctrl.camposEntregas"
                title="Entregas Realizadas"
                alert="{{$ctrl.messages.alertGrid}}"
            ></grid>
        </div>

        <div class="col-md-8 input-label">
            <span required-label="avaliacao">Avaliação</span>
            <label ng-repeat="item in $ctrl.avaliacaoList">
                <input
                    type="radio"
                    name="avaliacao" 
                    id="avaliacao"
                    ng-model="$ctrl.model.tep.avaliacao"
                    ng-value="item"
                    ng-required="true">
                <span>{{item.descricao}}</span>
            </label>
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="tepForm.avaliacao.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </div>

        <label class="col-md-8">
            <span required-label="justificativa">Justificativa da Avaliação</span>
            <textarea 
                ng-required="true"
                name="justificativa" 
                id="justificativa" 
                class="form-control"
                ng-model="$ctrl.model.tep.justificativa"
                rows="3"></textarea>
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="tepForm.justificativa.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>

        <label class="col-md-8">
            <span>Conclusões e lições aprendidas</span>
            <textarea 
                name="licoesAprendidas" 
                id="licoesAprendidas" 
                class="form-control"
                ng-model="$ctrl.model.tep.licoesAprendidas"
                rows="3"></textarea>
        </label>

        <div class="col-md-12">
            <grid
                ng-model="$ctrl.model.tep.responsaveis"
                fields="$ctrl.camposResponsaveis"
                title="Responsaveis pela autorização de encerramento do projeto"
                alert="{{$ctrl.messages.alertGrid}}"
            ></grid>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-success">
                Salvar
            </button>
        </div>
    </div>

</form>