<form name="orcamentoForm" novalidate ng-submit="$ctrl.salvar()">
    <div class="row">
        <label class="col-md-8">
            <span>Descricão</span>
                <textarea 
                ng-disabled="true"
                name="descricaoProjeto" 
                id="descricaoProjeto" 
                class="form-control"
                ng-model="$ctrl.model.descricaoProjeto"
                rows="3"></textarea>
        </label>
        <label class="col-md-4 clearfix">
            <span required-label="tipoOrcamento">Tipo Orçamento</span>
            <select
                required
                id="tipoOrcamento"
                name="tipoOrcamento" 
                class="form-control" 
                ng-model="$ctrl.model.orcamento.tipo" 
                ng-options="item.descricao for item in $ctrl.tipoOrcamentoList track by item.id">
                <option value="">Selecione</option>
            </select>
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="orcamentoForm.tipoOrcamento.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
        <label class="col-md-4">
            <span required-label="unidadeMedida">Unidade Medida</span>
            <select
                required
                id="unidadeMedida"
                name="unidadeMedida" 
                class="form-control" 
                ng-model="$ctrl.model.orcamento.unidadeMedida" 
                ng-options="item.descricao for item in $ctrl.unidadeMedidaList track by item.id">
                <option value="">Selecione</option>
            </select>
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="orcamentoForm.unidadeMedida.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
        <label class="col-md-4 clearfix">
            <span required-label="quantidadeOrcamento">Quantidade</span>
                <input 
                required
                type="number"
                name="quantidadeOrcamento" 
                id="quantidadeOrcamento" 
                class="form-control"
                ng-model="$ctrl.model.orcamento.quantidade">
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="orcamentoForm.quantidadeOrcamento.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
                <ng-message 
                    when="number">
                    {{$ctrl.messages.number}}
                </ng-message>
            </ng-messages>
        </label>
        <label class="col-md-4">
            <span required-label="valorUnitarioOrcamento">Valor Unitário Orçamento</span>
                <input 
                required
                type="number"
                name="valorUnitarioOrcamento" 
                id="valorUnitarioOrcamento" 
                class="form-control"
                ng-model="$ctrl.model.orcamento.valorUnitario">
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="orcamentoForm.valorUnitarioOrcamento.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
                <ng-message 
                    when="number">
                    {{$ctrl.messages.number}}
                </ng-message>
            </ng-messages>
        </label>
    </div>

    <fieldset class="row">
        <div class="col-md-12">
            <legend>
                Cronograma Inicial
            </legend>
        </div>
        <label class="col-md-4">
            <span>OS</span>
            <select
                id="osCronograma"
                name="osCronograma" 
                class="form-control" 
                ng-model="$ctrl.model.cronograma.os"
                ng-options="item.descricao for item in $ctrl.OSList track by item.id">
                <option value="">Selecione</option>
            </select>
        </label>
        <label class="col-md-4">
            <span>Data Prevista Início</span>
            <div class="input-group">
                <input 
                    required
                    id="dataPrevistaInicialCronograma"
                    name="dataPrevistaInicialCronograma"
                    class="form-control" 
                    ng-model="$ctrl.model.cronograma.dataPrevistaInicial" 
                    is-open="$ctrl.dataPrevistaInicialCronograma.opened" 
                    uib-datepicker-popup="dd/MM/yyyy"
                    alt-inputs-formats="['M!/d!/yyyy']" 
                    datepicker-options="{ dateDisabled: false }">
                <span class="input-group-addon poppup-cursor" ng-click="$ctrl.dataPrevistaInicialCronograma.opened = true">
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
            </div>
        </label>
        <label class="col-md-4">
            <span>Data Prevista Entrega</span>
            <div class="input-group">
                <input 
                    required
                    id="dataPrevistaEntregaCronograma"
                    name="dataPrevistaEntregaCronograma"
                    class="form-control" 
                    ng-model="$ctrl.model.cronograma.dataPrevistaEntrega" 
                    is-open="$ctrl.dataPrevistaEntregaCronograma.opened" 
                    uib-datepicker-popup="dd/MM/yyyy"
                    alt-inputs-formats="['M!/d!/yyyy']" 
                    datepicker-options="{ dateDisabled: false }">
                <span class="input-group-addon poppup-cursor" ng-click="$ctrl.dataPrevistaEntregaCronograma.opened = true">
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
            </div>
        </label>
    </fieldset>

    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-success">
                Salvar
            </button>
        </div>
    </div>
</form>