<div class="row">
    <div class="col-md-3">
        <span class="dashboard-badge">
            <span class="description">Metodologias</span>
            <span class="number">4</span>
            <a class="seemore" href="javascript:;">
                Veja Mais
            </a>
        </span>
    </div>
    <div class="col-md-3">
        <span class="dashboard-badge">
            <span class="description">Sustentação</span>
            <span class="number">2</span>
            <a class="seemore" href="javascript:;">
                Veja Mais
            </a>
        </span>
    </div>
    <div class="col-md-3">
        <span class="dashboard-badge">
            <span class="description">Novos Projetos</span>
            <span class="number">5</span>
            <a class="seemore" href="javascript:;">
                Veja Mais
            </a>
        </span>
    </div>
    <div class="col-md-3">
        <span class="dashboard-badge">
            <span class="description">Testes</span>
            <span class="number">2</span>
            <a class="seemore" href="javascript:;">
                Veja Mais
            </a>
        </span>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <br>
        <br>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <canvas 
            id="pie" 
            class="chart chart-pie" 
            chart-data="$ctrl.pie.data"
            chart-labels="$ctrl.pie.labels">
        </canvas>
    </div>
    <div class="col-md-4">
        <canvas 
            id="bars" 
            class="chart chart-bar" 
            chart-data="$ctrl.bars.data"
            chart-labels="$ctrl.bars.labels" 
            chart-series="$ctrl.bars.series">
        </canvas>
    </div>
    <div class="col-md-4">
        <canvas 
            id="lines" 
            class="chart chart-line" 
            chart-data="$ctrl.lines.data"
            chart-labels="$ctrl.lines.labels" 
            chart-series="$ctrl.lines.series">
        </canvas>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <br>
        <br>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Indicadores</th>
                    <th>Tipo 1</th>
                    <th>Tipo 2</th>
                    <th>Tipo 3</th>
                    <th>Tipo 4</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Indicador 1</td>
                    <td>#valor1</td>
                    <td>#valor2</td>
                    <td>#valor3</td>
                    <td>#valor4</td>
                </tr>
                <tr>
                    <td>Indicador 2</td>
                    <td>#valor1</td>
                    <td>#valor2</td>
                    <td>#valor3</td>
                    <td>#valor4</td>
                </tr>
                <tr>
                    <td>Indicador 3</td>
                    <td>#valor1</td>
                    <td>#valor2</td>
                    <td>#valor3</td>
                    <td>#valor4</td>
                </tr>
                <tr>
                    <td>Indicador 4</td>
                    <td>#valor1</td>
                    <td>#valor2</td>
                    <td>#valor3</td>
                    <td>#valor4</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <canvas 
            id="horizontal-bar" 
            class="chart-horizontal-bar" 
            chart-data="$ctrl.horizontalBars.data"
            chart-labels="$ctrl.horizontalBars.labels" 
            chart-series="$ctrl.horizontalBars.series">
        </canvas>
    </div>
</div>