<uib-tabset active="0">
    
    <uib-tab index="0" heading="Recursos">
        <br>
        <div class="row">
            <div class="col-md-12">
                <table-grid ng-model="$ctrl.recursoList" fields="$ctrl.recursoFields"></table-grid>
            </div>
        </div>
    </uib-tab>

    <uib-tab index="2" heading="Responsabilidades">
        <br>
        <div class="row">
            <div class="col-md-12">
                <table-grid ng-model="$ctrl.responsabilidadeRecursoList" fields="$ctrl.responsabilidadeRecursoFields"></table-grid>
            </div>
        </div>
    </uib-tab>

    <uib-tab index="1" heading="Stakeholders">
        <br>
        <div class="row">
            <div class="col-md-12">
                <table-grid ng-model="$ctrl.stakeholderList" fields="$ctrl.stakeholderFields"></table-grid>
            </div>
        </div>
    </uib-tab>

    <uib-tab index="3" heading="Responsabilidades">
        <br>
        <div class="row">
            <div class="col-md-12">
                <table-grid ng-model="$ctrl.responsabilidadeStakeholderList" fields="$ctrl.responsabilidadeStakeholderFields"></table-grid>
            </div>
        </div>
    </uib-tab>

</uib-tabset>