<h4 class="title-heading pull-left">
    {{$ctrl.view.title}}
</h4>
<form name="form" class="pull-right form-inline">
    <div class="input-group">
        <input type="search" name="search" placeholder="Pesquisar" class="form-control input-sm">
        <span class="input-group-addon input-group-addon-xs">
            <button class="btn btn-primary btn-sm">
                <i class="fas fa-search"></i>
            </button>
        </span>
    </div>
</form>