<form name="stakeholderForm" novalidate ng-submit="$ctrl.salvar()">

    <div class="row">
        <label class="col-md-4">
            <span required-label="nome">Nome</span>
            <input 
            id="nome"
            name="nome"
            required
            type="text" 
            class="form-control"
            ng-model="$ctrl.model.nome">
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="stakeholderForm.nome.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
        <label class="col-md-4 clearfix">
            <span required-label="grupo">Grupo</span>
            <select 
                id="grupo"
                name="grupo"
                required
                class="form-control"
                ng-model="$ctrl.model.grupo">
                <option value="">Selecione</option>
                <option ng-value="item.descricao" ng-repeat="item in $ctrl.grupoList track by item.id">{{item.descricao}}</option>
            </select>
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="stakeholderForm.nome.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
        <label class="col-md-4">
            <span required-label="lotacao">Lotação</span>
            <select 
                id="lotacao"
                name="lotacao"
                required
                class="form-control"
                ng-model="$ctrl.model.lotacao">
                <option value="">Selecione</option>
                <option ng-value="item.descricao" ng-repeat="item in $ctrl.lotacaoList track by item.id">{{item.descricao}}</option>
            </select>
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="stakeholderForm.nome.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
        <label class="col-md-4 clearfix">
            <span required-label="equipe">Equipe</span>
            <select 
                id="equipe"
                name="equipe"
                required
                class="form-control"
                ng-model="$ctrl.model.equipe"
                ng-change="$ctrl.filtrarPapeis()">
                <option value="">Selecione</option>
                <option ng-value="item.descricao" ng-repeat="item in $ctrl.equipeList track by item.id">{{item.descricao}}</option>
            </select>
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="recursoForm.equipe.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
        <label class="col-md-4">
            <span required-label="papel">Papel</span>
            <select 
                id="papel"
                name="papel"
                required
                class="form-control"
                ng-model="$ctrl.model.papel">
                <option value="">Selecione</option>
                <option ng-value="item.descricao" ng-repeat="item in $ctrl.papelFiltradoList track by item.id">{{item.descricao}}</option>
            </select>
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="stakeholderForm.nome.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
        <label class="col-md-4 clearfix">
            <span>E-mail</span>
            <input 
            id="email"
            name="email"
            type="email" 
            class="form-control"
            ng-model="$ctrl.model.email">
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="stakeholderForm.email.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
                <ng-message 
                    when="email">
                    {{$ctrl.messages.email}}
                </ng-message>
            </ng-messages>
        </label>
        <label class="col-md-4">
            <span>Telefone/Ramal</span>
            <input 
            id="telefone"
            name="telefone"
            type="text" 
            class="form-control"
            ng-model="$ctrl.model.telefone">
        </label>

        <label class="col-md-12">
            <span>Projetos</span>
            <select 
                multiple
                id="projetos"
                name="projetos"
                class="form-control height12"
                ng-model="$ctrl.model.projetos">
                <option ng-value="item.descricaoProjeto" ng-repeat="item in $ctrl.projetosList track by item.descricaoProjeto">{{item.descricaoProjeto}}</option>
            </select>
        </label>

        <label class="col-md-12">
            <span>Mapeamento de Responsabilidades</span>
            <select 
                multiple
                id="responsabilidades"
                name="responsabilidades"
                class="form-control height12"
                ng-model="$ctrl.model.responsabilidades">
                <option ng-value="item.descricao" ng-repeat="item in $ctrl.responsabilidadeList track by item.id">{{item.descricao}}</option>
            </select>
        </label>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-success">
                Salvar
            </button>
        </div>
    </div>
    
</div>
        
                        