<div class="row">
    <div class="col-md-12">
        <table-grid ng-model="$ctrl.orcamentoList" fields="$ctrl.orcamentoFields" actions="$ctrl.orcamentoActions" footer="Total: {{$ctrl.total | currency}}"></table-grid>
    </div>
</div>
