/* Variables */

$primary-color: #337ab7;
$error-color: #974D4C;
$grey-color: #ddd;

/* Rewriting */

input[type=file].form-control{
    height: auto;
    padding-top: 4px;
    padding-bottom: 4px;
}

ng-messages{
    margin-top: 10px;
    width: 100%;
    display: none;
}
.ng-submitted ng-messages{
    display: block;
}
.ng-submitted select:invalid, .ng-submitted input:invalid, .ng-submitted textarea:invalid{
    border: 1px solid $error-color;
    color: $error-color;
    box-shadow: 0 0 7px rgba(169,68,66, 0.5)
}
.well{
    padding: 10px 15px;
    h3{
        font-size: 16px;
        margin: 0 0 10px 0;
        font-weight: bold;
    }
    p{
        margin: 10px 0 0 0;
    }
}
button{
    margin-bottom: 10px;
}
textarea{
    resize: none;
}
legend{
    border-bottom: 1px solid $grey-color;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 30px 0;
}
label, .input-label{
    font-weight: normal;
    margin-bottom: 20px;
}
label > span, .input-label > span{
    margin-bottom: 5px;
    display: block;
}
.input-label label{
    margin-top: 7px;
    margin-bottom: 0;
}
.input-label label > span{
    display: inline-block;
    padding: 0 10px 0 5px;
    position: relative;
    top: -1px;
}
label > span:after, .input-label > span:after{
    content: ":";
}
.input-label label > span:after{
    content: ""
}
.panel-heading{
    min-height: 50px;
}
.panel-heading{
    .title-heading{
        display: inline-block;
        padding: 5px;
        margin: 0;
    }
}
.breadcrumb{
    display: inline-block;
    background-color: #FFF !important;
    margin: 0 !important;
}
.list-group-item .breadcrumb{
    padding: 0;
}
.navbar-brand{
    margin-top: -5px;
}
.panel-default{
    .panel-heading{
        background-image: none !important;
        background-color: #FFF !important;
    }
}
input + div + .poppup-cursor, input + div + .poppup-cursor + input{
    border-left: none;
}
.input-group-addon-xs{
    padding: 0 !important;
    background-color: transparent !important;
    .btn-sm{
        border: none !important;
        border-radius: 0 3px 3px 0 !important;
    }
}
.uib-datepicker-popup{
    padding: 10px;
}
.uib-button-bar{
    display: none;
}

/* App css */
.required-label:before{
    content: "* ";
}
.invalid-label{
    color: $error-color;
}

@for $i from 3 through 12 {
	.height#{$i} { 
		min-height: #{$i}em; 
	}
}
.view-body{
    min-height: 480px;
}
.actions button{
    margin-bottom: 0;
    min-width: 30px;
    padding: 5px;
}
.hidden-section{
    display: block;
    width: 100%;
    float: left;
}
.grid{
    border: 1px solid $grey-color;
    border-radius: 4px;
    margin: 0 0 20px 0;
}
.poppup-cursor{
    cursor: pointer;
    background-color: #FFF;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.clearfix{
    clear: left;
}
.dashboard-badge{
    padding: 15px;
    border: solid 1px $grey-color;
    display: inline-block;
    width: 100%;
    border-radius: 4px;
    font-weight: bold;
    margin-bottom: 20px;

    .description{
        line-height: 30px;
        color: #999;
    }
    .number{
        height: 30px;
        width: 30px;
        background-color: $primary-color;
        color: #FFF;
        display: block;
        float: right;
        text-align: center;
        line-height: 30px;
        border-radius: 50%;
    }
    .seemore{
        margin-top: 12px;
        padding-top: 5px;
        display: block;
        width: 100%;
        border-top: solid 1px #EEE;
        text-align: center;
        font-size: 0.8em;
        font-weight: normal;
    }
}

.table-responsive-grid{
    td, th {
        max-width: 300px;
        line-height: 1.2em !important;
    }
    .dropdown-menu{
        right: 0;
        left: auto;
        margin-top: 8px;
    }
}