<form name="planoRiscoForm" novalidate ng-submit="$ctrl.salvar()">
    <div class="row">
        <label class="col-md-4">
            <span>Preparado Por</span>
            <input 
                ng-disabled="true"
                id="preparadoPor"
                name="preparadoPor"
                class="form-control" 
                ng-init="$ctrl.model.planoRisco.preparadoPor = $ctrl.usuarioLogado"
                ng-model="$ctrl.model.planoRisco.preparadoPor">
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="planoRiscoForm.preparadoPor.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
        <label class="col-md-4">
            <span required-label="aprovadoPor">Aprovado Por</span>
            <input 
                required
                id="aprovadoPor"
                name="aprovadoPor"
                class="form-control" 
                ng-model="$ctrl.model.planoRisco.aprovadoPor">
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="planoRiscoForm.aprovadoPor.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
        <label class="col-md-4">
            <span required-label="data">Data</span>
            <div class="input-group">
                <input 
                    required
                    id="data"
                    name="data"
                    class="form-control" 
                    ng-model="$ctrl.model.planoRisco.data" 
                    is-open="$ctrl.data.opened" 
                    uib-datepicker-popup="dd/MM/yyyy"
                    alt-inputs-formats="['M!/d!/yyyy']" 
                    datepicker-options="{ dateDisabled: false }">
                <span class="input-group-addon poppup-cursor" ng-click="$ctrl.data.opened = true">
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
            </div>
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="planoRiscoForm.data.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
        <label class="col-md-4">
            <span required-label="numeroDoc">Número do Doc.</span>
            <input 
                required
                type="number"
                id="numeroDoc"
                name="numeroDoc"
                class="form-control" 
                ng-model="$ctrl.model.planoRisco.numeroDoc">
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="planoRiscoForm.numeroDoc.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
                <ng-message 
                    when="number">
                    {{$ctrl.messages.number}}
                </ng-message>
            </ng-messages>
        </label>
        <label class="col-md-4">
            <span required-label="versao">Versão</span>
            <input 
                required
                type="number"
                id="versao"
                name="versao"
                class="form-control" 
                ng-model="$ctrl.model.planoRisco.versao">
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="planoRiscoForm.versao.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
                <ng-message 
                    when="number">
                    {{$ctrl.messages.number}}
                </ng-message>
            </ng-messages>
        </label>
    </div>

    <grid
        ng-model="$ctrl.model.planoRisco.identificacaoList"
        fields="$ctrl.camposIdentificacao"
        title="Identificação do risco"
        alert="{{$ctrl.messages.alertGrid}}"
    ></grid>

    <grid
        ng-model="$ctrl.model.planoRisco.respostaList"
        fields="$ctrl.camposResposta"
        title="Resposta ao risco"
        alert="{{$ctrl.messages.alertGrid}}"
    ></grid>

    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-success">
                Salvar
            </button>
        </div>
    </div>
</form>