<form name="controleVersaoForm" novalidate ng-submit="$ctrl.salvar()">
    <div class="row">
        <label class="col-md-4">
            <span required-label="data">Data</span>
            <div class="input-group">
                <input 
                    required
                    id="data"
                    name="data"
                    class="form-control" 
                    ng-model="$ctrl.model.controleVersao.data" 
                    is-open="$ctrl.data.opened" 
                    uib-datepicker-popup="dd/MM/yyyy"
                    alt-inputs-formats="['M!/d!/yyyy']" 
                    datepicker-options="{ dateDisabled: false }">
                <span class="input-group-addon poppup-cursor" ng-click="$ctrl.data.opened = true">
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
            </div>
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="controleVersaoForm.data.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
        <label class="col-md-4">
            <span required-label="responsavel">Responsável</span>
            <select
                ng-required="true"
                name="responsavel" 
                id="responsavel"
                class="form-control" 
                ng-model="$ctrl.model.controleVersao.responsavel">
                <option value="">Selecione</option>
                <option>William César</option>
                <option>Lucas Martinelly</option>
            </select>
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="controleVersaoForm.responsavel.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
        <label class="col-md-12">
            <span required-label="descricao">Descrição do conteúdo do documento e principais mudanças em relação a versão anterior</span>
            <textarea 
                required
                name="descricao" 
                id="descricao" 
                class="form-control"
                ng-model="$ctrl.model.controleVersao.descricao"
                rows="3"></textarea>
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="controleVersaoForm.descricao.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
        <label class="col-md-4 clearfix">
            <span required-label="versaoAnterior">Número Versão Anterior</span>
            <input 
                type="number"
                required
                name="versaoAnterior" 
                id="versaoAnterior" 
                class="form-control"
                ng-model="$ctrl.model.controleVersao.versaoAnterior">
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="controleVersaoForm.versaoAnterior.$error">
                <ng-message 
                    when="number">
                    {{$ctrl.messages.number}}
                </ng-message>
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
        <label class="col-md-4">
            <span required-label="versaoAtual">Versão Atual</span>
            <input 
                type="number"
                required
                name="versaoAtual" 
                id="versaoAtual" 
                class="form-control"
                ng-model="$ctrl.model.controleVersao.versaoAtual">
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="controleVersaoForm.versaoAtual.$error">
                <ng-message 
                    when="number">
                    {{$ctrl.messages.number}}
                </ng-message>
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>

    </div>

    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-success">
                Salvar
            </button>
        </div>
    </div>
</form>