<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="$ctrl.view.isCollapsed = !$ctrl.view.isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="{{$ctrl.view.siteLogo}}" alt="{{$ctrl.view.siteName}}" height="30">
            </a>
        </div>
        <div class="horizontal-collapse navbar-collapse" uib-collapse="$ctrl.view.isCollapsed">
            <ul class="nav navbar-nav">
                <li ng-repeat="item in $ctrl.view.navbar"><a href ng-click="$ctrl.redirect(item.url, item.clearSession)"><i ng-if="::item.icon" ng-class="::item.icon" aria-hidden="true"></i> {{item.title}}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li uib-dropdown>
                    <a href="#" id="simple-dropdown" uib-dropdown-toggle>
                        <i class="fa fa-user"></i> &nbsp; {{$ctrl.view.user.name}} <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                        <li ng-repeat="item in $ctrl.view.userMenu"><a href ng-click="$ctrl.redirect(item.url, item.clearSession)"><i ng-if="::item.icon" ng-class="::item.icon" aria-hidden="true"></i> {{item.title}}</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</nav>