<form name="termoAberturaProjetoForm" novalidate ng-submit="$ctrl.salvar()">
    <div class="row">
        <label class="col-md-4">
            <span required-label="dataTAP">Data</span>
            <div class="input-group">
                <input 
                    required
                    id="dataTAP"
                    name="dataTAP"
                    class="form-control" 
                    ng-model="$ctrl.model.dataTAP" 
                    is-open="$ctrl.dataTAP.opened" 
                    uib-datepicker-popup="dd/MM/yyyy"
                    alt-inputs-formats="['M!/d!/yyyy']" 
                    datepicker-options="{ dateDisabled: false }">
                <span class="input-group-addon poppup-cursor" ng-click="$ctrl.dataTAP.opened = true">
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
            </div>
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="termoAberturaProjetoForm.dataTAP.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
        <label class="col-md-4">
            <span required-label="mesReferencia">Mês de Referência</span>
            <select
                required
                id="mesReferencia"
                name="mesReferencia" 
                class="form-control" 
                ng-model="$ctrl.model.mesReferencia" 
                ng-options="item.descricao for item in $ctrl.mesReferenciaList track by item.id">
                <option value="">Selecione</option>
            </select>
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="termoAberturaProjetoForm.mesReferencia.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
        <label class="col-md-4 clearfix">
            <span required-label="classificacao">Classificação</span>
            <select
                required
                id="classificacao"
                name="classificacao" 
                class="form-control" 
                ng-model="$ctrl.model.classificacao" 
                ng-options="item.descricao for item in $ctrl.classificacaoList track by item.id">
                <option value="">Selecione</option>
            </select>
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="termoAberturaProjetoForm.classificacao.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
        <label class="col-md-4">
            <span>Matriz Hierárquica</span>
            <input 
                id="matrizHierarquica"
                name="matrizHierarquica"
                type="file"
                class="form-control" >
        </label>
        <label class="col-md-4">
            <span>Processo de Trabalho</span>
            <input 
                id="processoTrabalho"
                name="processoTrabalho"
                type="file"
                class="form-control" >
        </label>
    </div>

    <fieldset class="row">
        <div class="col-md-12">
            <legend>Plano de Gerência de Configuração e Mudança</legend>
        </div>
        <label class="col-md-8">
            <span required-label="descricaoProjeto">Descricão</span>
            <textarea
            required 
            name="descricaoProjeto" 
            id="descricaoProjeto" 
            class="form-control"
            ng-model="$ctrl.model.descricaoProjeto"
            rows="3"></textarea>
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="termoAberturaProjetoForm.descricaoProjeto.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
        <label class="col-md-4 clearfix">
            <span required-label="dataPrevisaoInicio">Data Previsão Início</span>
            <div class="input-group">
                <input 
                    required
                    id="dataPrevisaoInicio"
                    name="dataPrevisaoInicio"
                    class="form-control" 
                    ng-model="$ctrl.model.dataPrevisaoInicio" 
                    is-open="$ctrl.dataPrevisaoInicio.opened" 
                    uib-datepicker-popup="dd/MM/yyyy"
                    alt-inputs-formats="['M!/d!/yyyy']" 
                    datepicker-options="{ dateDisabled: false }">
                <span class="input-group-addon poppup-cursor" ng-click="$ctrl.dataPrevisaoInicio.opened = true">
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
            </div>
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="termoAberturaProjetoForm.dataPrevisaoInicio.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
        <label class="col-md-4">
            <span required-label="dataPrevisaoEntrega">Data Previsão Entrega</span>
            <div class="input-group">
                <input 
                    required
                    id="dataPrevisaoEntrega"
                    name="dataPrevisaoEntrega"
                    class="form-control" 
                    ng-model="$ctrl.model.dataPrevisaoEntrega" 
                    is-open="$ctrl.dataPrevisaoEntrega.opened" 
                    uib-datepicker-popup="dd/MM/yyyy"
                    alt-inputs-formats="['M!/d!/yyyy']" 
                    datepicker-options="{ dateDisabled: false }">
                <span class="input-group-addon poppup-cursor" ng-click="$ctrl.dataPrevisaoEntrega.opened = true">
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
            </div>
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="termoAberturaProjetoForm.dataPrevisaoEntrega.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
    </fieldset>

    <grid
        ng-model="$ctrl.model.formalizacoes"
        fields="$ctrl.camposFormalizacoes"
        title="Formalizações"
        alert="{{$ctrl.messages.alertGrid}}"
    ></grid>

    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-success">
                Salvar
            </button>
        </div>
    </div>
</form>