<div class="row">
    <div class="col-md-12">
        <table-grid ng-model="$ctrl.planoComunicacaoList" fields="$ctrl.planoComunicacaoFields" actions="$ctrl.planoComunicacaoActions"></table-grid>
    </div>
</div>
