<form name="planoComunicacaoForm" novalidate ng-submit="$ctrl.salvar()">
    <div class="row">
        <label class="col-md-4">
            <span required-label="id">ID</span>
            <input 
            required
            name="id" 
            id="id" 
            class="form-control"
            ng-model="$ctrl.model.planoComunicacao.id">
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="planoComunicacaoForm.id.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
        <label class="col-md-8 clearfix">
            <span required-label="objetivo">Objetivo</span>
            <textarea 
                required
                name="objetivo" 
                id="objetivo" 
                class="form-control"
                ng-model="$ctrl.model.planoComunicacao.objetivo"
                rows="3"></textarea>
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="planoComunicacaoForm.objetivo.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
        <label class="col-md-4 clearfix">
            <span required-label="metodologia">Metodologia</span>
            <select
                ng-required="true"
                name="metodologia" 
                id="metodologia"
                class="form-control" 
                ng-model="$ctrl.model.metodologia" 
                ng-options="item.descricao for item in $ctrl.metodologiaList track by item.id">
                <option value="">Selecione</option>
            </select>
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="planoComunicacaoForm.metodologia.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
        <label class="col-md-4">
            <span required-label="publicoEnvolvido">Público Envolvido</span>
            <select
                ng-required="true"
                name="publicoEnvolvido" 
                id="publicoEnvolvido"
                class="form-control" 
                ng-model="$ctrl.model.publicoEnvolvido" 
                ng-options="item.descricao for item in $ctrl.publicoEnvolvidoList track by item.id">
                <option value="">Selecione</option>
            </select>
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="planoComunicacaoForm.publicoEnvolvido.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
        <label class="col-md-4">
            <span required-label="responsavel">Responsável</span>
            <select
                ng-required="true"
                name="responsavel" 
                id="responsavel"
                class="form-control" 
                ng-model="$ctrl.model.responsavel" 
                ng-options="item.descricao for item in $ctrl.responsavelList track by item.id">
                <option value="">Selecione</option>
            </select>
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="planoComunicacaoForm.responsavel.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
        <label class="col-md-4 clearfix">
            <span required-label="frequencia">Frequência</span>
            <select
                ng-required="true"
                name="frequencia" 
                id="frequencia"
                class="form-control" 
                ng-model="$ctrl.model.planoComunicacao.frequencia" 
                ng-options="item.descricao for item in $ctrl.frequenciaList track by item.id">
                <option value="">Selecione</option>
            </select>
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="planoComunicacaoForm.frequencia.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
        <label class="col-md-4">
            <span required-label="duracao">Duração (Horas)</span>
            <input 
            required
            name="duracao" 
            id="duracao" 
            type="number"
            class="form-control"
            ng-model="$ctrl.model.planoComunicacao.duracao">
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="planoComunicacaoForm.duracao.$error">
                <ng-message 
                    when="number">
                    {{$ctrl.messages.number}}
                </ng-message>
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
        <label class="col-md-8 clearfix">
            <span required-label="local">Local</span>
            <input 
            required
            name="local" 
            id="local" 
            class="form-control"
            ng-model="$ctrl.model.planoComunicacao.local">
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="planoComunicacaoForm.local.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
        <label class="col-md-4">
            <span>Doc. Requerido</span>
            <input 
            type="file"
            name="docRequerido" 
            id="docRequerido" 
            class="form-control">
        </label>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-success">
                Salvar
            </button>
        </div>
    </div>
</form>