<div class="row">
    <label class="col-md-4">
        <span>Solicitante</span>
        <input
            ng-disabled="true"
            name="solicitante" 
            id="solicitante"
            class="form-control" 
            ng-model="$ctrl.model.solicitante">
    </label>

    <label class="col-md-4">
        <span required-label="funcionalidade">Funcionalidade</span>
        <input
            ng-required="true"
            name="funcionalidade" 
            id="funcionalidade"
            class="form-control" 
            ng-model="$ctrl.model.funcionalidade">
        <ng-messages 
            class="text-danger" 
            role="alert" 
            for="ordemServicoForm.funcionalidade.$error">
            <ng-message 
                when="required">
                {{$ctrl.messages.required}}
            </ng-message>
        </ng-messages>
    </label>
    <label class="col-md-4 clearfix">
        <span required-label="funcionalidade">Descrição do Problema/Necessidade</span>
        <textarea 
            ng-required="true"
            name="descricaoProblema" 
            id="descricaoProblema" 
            class="form-control"
            rows="5"
            ng-model="$ctrl.model.descricaoProblema"></textarea>
        <ng-messages 
            class="text-danger" 
            role="alert" 
            for="ordemServicoForm.descricaoProblema.$error">
            <ng-message 
                when="required">
                {{$ctrl.messages.required}}
            </ng-message>
        </ng-messages>
    </label>
    <label class="col-md-4">
        <span required-label="justificativaProblema">JustificativaProblema</span>
        <textarea 
            ng-required="true"
            name="justificativaProblema" 
            id="justificativaProblema" 
            class="form-control"
            rows="5"
            ng-model="$ctrl.model.justificativaProblema"></textarea>
        <ng-messages 
            class="text-danger" 
            role="alert" 
            for="ordemServicoForm.justificativaProblema.$error">
            <ng-message 
                when="required">
                {{$ctrl.messages.required}}
            </ng-message>
        </ng-messages>
    </label>
</div>

<grid
    ng-model="$ctrl.model.servicoList"
    fields="$ctrl.camposServico"
    title="Serviços de Suporte Técnico de Tecnologia da Informação"
    alert="{{$ctrl.messages.alertGrid}}"
></grid>

<div class="row">
    <label class="col-md-4">
        <span>Recursos Envolvidos</span>
        <select
            multiple
            id="recursos"
            name="recursos" 
            class="form-control height10" 
            ng-model="$ctrl.model.recursos" 
            ng-options="item.descricao for item in $ctrl.recursosList track by item.id">
        </select>
    </label>
</div>

<grid
    ng-model="$ctrl.model.relacaoOrdemServico"
    fields="$ctrl.camposRelacaoOrdemServico"
    title="Relação das Ordens de Serviço"
    alert="{{$ctrl.messages.alertGrid}}"
></grid>

<grid
    ng-model="$ctrl.model.anexos"
    fields="$ctrl.camposAnexos"
    title="Anexos"
    alert="{{$ctrl.messages.alertGrid}}"
></grid>

<fieldset class="row">
    <div class="col-md-12">
        <legend>Aprovação do documento</legend>
    </div>
    <label class="col-md-4">
        <span>Preenchido por</span>
        <input 
            id="preenchidoPor"
            name="preenchidoPor"
            class="form-control"
            ng-model="$ctrl.model.preenchidoPor">
    </label>
    <label class="col-md-4">
        <span>E-mail</span>
        <input 
            id="emailAprovacao"
            name="emailAprovacao"
            class="form-control"
            ng-model="$ctrl.model.emailAprovacao">
    </label>
</fieldset>

<grid
    ng-model="$ctrl.model.assinaturasTecnicos"
    fields="$ctrl.camposAssinaturasTecnicos"
    title="Assinaturas Responsáveis Técnicos"
    alert="{{$ctrl.messages.alertGrid}}"
></grid>

<grid
    ng-model="$ctrl.model.assinaturasGestores"
    fields="$ctrl.camposAssinaturasGestores"
    title="Assinaturas Gestores"
    alert="{{$ctrl.messages.alertGrid}}"
></grid>