<div class="row">
    <label class="col-md-4">
        <span>Atores</span>
        <select
            multiple
            id="atores"
            name="atores" 
            class="form-control height10" 
            ng-model="$ctrl.model.atores" 
            ng-options="item.descricao for item in $ctrl.atoresProjetosList track by item.id">
        </select>
    </label>
</div>

<grid
    ng-model="$ctrl.model.relacaoOrdemServico"
    fields="$ctrl.camposRelacaoOrdemServico"
    title="Relação das Ordens de Serviço"
    alert="{{$ctrl.messages.alertGrid}}"
></grid>

<grid
    ng-model="$ctrl.model.anexos"
    fields="$ctrl.camposAnexos"
    title="Anexos"
    alert="{{$ctrl.messages.alertGrid}}"
></grid>

<fieldset class="row">
    <div class="col-md-12">
        <legend>Aprovação do documento</legend>
    </div>
    <label class="col-md-4">
        <span>Preenchido por</span>
        <input 
            id="preenchidoPor"
            name="preenchidoPor"
            class="form-control"
            ng-model="$ctrl.model.preenchidoPor">
    </label>
    <label class="col-md-4">
        <span>E-mail</span>
        <input 
            id="emailAprovacao"
            name="emailAprovacao"
            class="form-control"
            ng-model="$ctrl.model.emailAprovacao">
    </label>
</fieldset>

<grid
    ng-model="$ctrl.model.assinaturasTecnicos"
    fields="$ctrl.camposAssinaturasTecnicos"
    title="Assinaturas Responsáveis Técnicos"
    alert="{{$ctrl.messages.alertGrid}}"
></grid>

<grid
    ng-model="$ctrl.model.assinaturasGestores"
    fields="$ctrl.camposAssinaturasGestores"
    title="Assinaturas Gestores"
    alert="{{$ctrl.messages.alertGrid}}"
></grid>