<grid
    title="Equipe envolvida"
    ng-model="$ctrl.model.equipeList"
    alert="{{$ctrl.messages.alertGrid}}"
    fields="$ctrl.camposEquipe">
</grid>

<grid
    ng-model="$ctrl.model.relacaoOrdemServico"
    fields="$ctrl.camposRelacaoOSSustentacao"
    title="Relação das Ordens de Serviço"
    alert="{{$ctrl.messages.alertGrid}}"
></grid>

<grid
    ng-model="$ctrl.model.anexosSustentacao"
    fields="$ctrl.camposAnexosSustentacao"
    title="Anexos"
    alert="{{$ctrl.messages.alertGrid}}"
></grid>

<fieldset class="row">
    <div class="col-md-12">
        <legend>Homologação</legend>
    </div>
    <label class="col-md-4">
        <span>Preenchido por</span>
        <input 
            id="preenchidoPor"
            name="preenchidoPor"
            class="form-control"
            ng-model="$ctrl.model.preenchidoPor">
    </label>
    <label class="col-md-4">
        <span>E-mail</span>
        <input 
            id="emailAprovacao"
            name="emailAprovacao"
            class="form-control"
            ng-model="$ctrl.model.emailAprovacao">
    </label>
</fieldset>

<grid
    ng-model="$ctrl.model.assinaturasTecnicos"
    fields="$ctrl.camposAssinaturasTecnicos"
    title="Assinaturas Responsáveis Técnicos"
    alert="{{$ctrl.messages.alertGrid}}"
></grid>

<grid
    ng-model="$ctrl.model.assinaturasGestores"
    fields="$ctrl.camposAssinaturasGestores"
    title="Assinaturas Gestores"
    alert="{{$ctrl.messages.alertGrid}}"
></grid>