<form name="ordemServicoForm" novalidate>

    <fieldset class="row">
        
        <div class="col-md-12">
            <legend>Identificação do Contrato</legend>
        </div>
        <label class="col-md-4 clearfix">
            <span>Orgão Responsável</span>
            <input
                name="orgaoResponsavel" 
                id="orgaoResponsavel"
                ng-disabled="true"
                class="form-control" 
                ng-model="$ctrl.model.orgaoResponsavel">
        </label>
        <label class="col-md-4">
            <span>Nº do Contrato</span>
            <input
                name="nContrato" 
                id="nContrato"
                ng-disabled="true"
                class="form-control" 
                ng-model="$ctrl.model.nContrato">
        </label>
    </fieldset>
    <fieldset class="row">
        <div class="col-md-12">
            <legend>Identificação do Projeto</legend>
        </div>
        <label class="col-md-4">
            <span required-label="projeto">Projeto</span>
            <select
                ng-required="true"
                name="projeto" 
                id="projeto"
                class="form-control" 
                ng-model="$ctrl.model.projeto" 
                ng-options="item.descricao for item in $ctrl.projetosList track by item.id">
                <option value="">Selecione</option>
            </select>
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="ordemServicoForm.projeto.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
        <div class="col-md-4 input-label">
            <span required-label="possuiDocumentacao">O projeto possui documentação</span>
            <label>
                <input
                    type="radio"
                    name="possuiDocumentacao" 
                    id="possuiDocumentacao"
                    ng-model="$ctrl.model.possuiDocumentacao"
                    ng-value="true"
                    ng-required="true">
                <span>Sim</span>
            </label>
            <label>
                <input
                    type="radio"
                    name="possuiDocumentacao" 
                    id="possuiDocumentacao"
                    ng-model="$ctrl.model.possuiDocumentacao"
                    ng-value="false"
                    ng-required="true">
                <span>Não</span>
            </label>
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="ordemServicoForm.possuiDocumentacao.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </div>
        <label class="col-md-4 clearfix">
            <span>Solicitante</span>
            <input
                ng-disabled="true"
                name="solicitante" 
                id="solicitante"
                class="form-control" 
                ng-model="$ctrl.model.solicitante">
        </label>
        <label class="col-md-4">
            <span>E-mail</span>
            <input 
                ng-disabled="true"
                type="email"
                id="emailSolicitante"
                name="emailSolicitante"
                class="form-control"
                ng-model="$ctrl.model.emailSolicitante">

        </label>
        <label class="col-md-4">
            <span>Telefone</span>
            <input
                ng-disabled="true"
                type="tel"
                name="telefoneSolicitante" 
                id="telefoneSolicitante"
                class="form-control" 
                ng-model="$ctrl.model.telefoneSolicitante">
        </label>
        <label class="col-md-4">
            <span>Gerente de Projetos</span>
            <input
                name="gerenteProjetos" 
                id="gerenteProjetos"
                class="form-control" 
                ng-model="$ctrl.model.gerenteProjetos"
                list="gerenteProjetosList">
            <datalist id="gerenteProjetosList">
                <option value="Ana Claudia Bastos Loureiro">
                <option value="William Cesar Cardoso Guiraldelli">
            </datalist>
        </label>
        <label class="col-md-4">
            <span>Email</span>
            <input
                ng-disabled="true"
                type="email"
                name="emailGerenteProjetos" 
                id="emailGerenteProjetos"
                class="form-control" 
                ng-model="$ctrl.model.emailGerenteProjetos">
        </label>
        <label class="col-md-4">
            <span>Telefone</span>
            <input
                ng-disabled="true"
                type="tel"
                name="telefoneGerenteProjetos" 
                id="telefoneGerenteProjetos"
                class="form-control" 
                ng-model="$ctrl.model.telefoneGerenteProjetos">
        </label>

    </fieldset>

    <div class="well" ng-if="$ctrl.model.tipo" ng-switch="$ctrl.model.tipo.descricao">
        <h3>Objeto deste documento:</h3>
        <p ng-switch-when="Novos Projetos">
            O objetivo deste documento é evidenciar a abertura das ordens de serviço para a o desenvolvimento de Novos Projetos do TJ-GO Tribunal de Justiça do Estado de Goiás, realizando o mapeamento de processos de negócio e toda a documentação de templates associadas aos processos.
        </p>
        <p ng-switch-when="Metodologia">
            O objetivo deste documento é evidenciar a abertura das ordens de serviço para a o desenvolvimento de Novos Projetos do TJ-GO Tribunal de Justiça do Estado de Goiás, realizando o mapeamento de processos de negócio e toda a documentação de templates associadas aos processos.
        </p>
        <p ng-switch-when="Teste">
            O objetivo deste documento é registrar a(s) solicitação(ões) de Serviços de Suporte Técnico de Tecnologia da Informação, a pedido do Gestor, no âmbito de execução de testes exploratórios no PJD para os Processos de 1º Grau, sem a necessidade de criação de artefatos definidos na MDS referente a fase de testes.
        </p>
        <p ng-switch-when="Metodologia, Sustentação Evolutiva e Teste">
            O objetivo deste documento é registrar a(s) solicitações(s) de Serviços de Suporte Técnico de Tecnologia da Informação no âmbito de gerência e/ou atendimento.
        </p>
    </div>

    <fieldset class="row">
        <div class="col-md-12">
            <legend>Dados da Ordem de Serviço</legend>
        </div>
        <label class="col-md-4">
            <span required-label="tipo">{{$ctrl.labelTipo}}</span>
            <select
                ng-required="true"
                name="tipo" 
                id="tipo"
                class="form-control" 
                ng-model="$ctrl.model.tipo" 
                ng-options="item.descricao for item in $ctrl.tipoList track by item.id">
                <option value="">Selecione</option>
            </select>
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="ordemServicoForm.tipo.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
    </fieldset>

    <div class="hidden-section" ng-include="$ctrl.getHiddenSection()"></div>

    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-success">
                Salvar
            </button>
        </div>
    </div>
</div>
    
                    