<div class="row">
    <div class="col-md-12">
        <table-grid ng-model="$ctrl.controleVersaoList" fields="$ctrl.controleVersaoFields" actions="$ctrl.controleVersaoActions"></table-grid>
    </div>
</div>
