<div class="well">
    <h3>Objeto deste documento:</h3>
    <p>O objetivo deste documento é registrar a(s) solicitações(s) de Serviços de Suporte Técnico de Tecnologia da Informação no âmbito de gerência e/ou atendimento.</p>
</div>

<fieldset class="row">
    <div class="col-md-12">
        <legend>Serviços de Suporte Técnico de Tecnologia da Informação</legend>
    </div>
    <label class="col-md-4">
        <span>Solicitante</span>
        <input
            ng-disabled="true"
            name="solicitante" 
            id="solicitante"
            class="form-control" 
            ng-model="$ctrl.model.solicitante">
    </label>
    <label class="col-md-4">
        <span required-label="funcionalidade">Funcionalidade</span>
        <input
            ng-required="true"
            name="funcionalidade" 
            id="funcionalidade"
            class="form-control" 
            ng-model="$ctrl.model.funcionalidade">
        <ng-messages 
            class="text-danger" 
            role="alert" 
            for="solicitacaoForm.funcionalidade.$error">
            <ng-message 
                when="required">
                {{$ctrl.messages.required}}
            </ng-message>
        </ng-messages>
    </label>
    <label class="col-md-8">
        <span required-label="descricaoProblema">Descrição do Problema/Necessidade</span>
        <textarea 
            ng-required="true"
            name="descricaoProblema" 
            id="descricaoProblema" 
            class="form-control"
            rows="5"
            ng-model="$ctrl.model.descricaoProblema"></textarea>
        <ng-messages 
            class="text-danger" 
            role="alert" 
            for="solicitacaoForm.descricaoProblema.$error">
            <ng-message 
                when="required">
                {{$ctrl.messages.required}}
            </ng-message>
        </ng-messages>
    </label>
    <label class="col-md-8">
        <span>Justificativa</span>
        <input
            name="justificativa" 
            id="justificativa"
            class="form-control" 
            ng-model="$ctrl.model.justificativa">
    </label>
</fieldset>

<grid
    ng-model="$ctrl.model.servicoList"
    fields="$ctrl.camposServico"
    title="Serviços de Suporte Técnico de Tecnologia da Informação"
    alert="{{$ctrl.messages.alertGrid}}"
></grid>

<div class="row">
    <div class="col-md-12">
        <legend>Recursos Envolvidos</legend>
    </div>
    <label class="col-md-4">
        <span>Preenchido por</span>
        <input 
            id="preenchidoPor"
            name="preenchidoPor"
            class="form-control"
            ng-model="$ctrl.model.preenchidoPor">
    </label>
    
    <label class="col-md-4">
        <span required-label="emailRecurso">E-mail</span>
        <input 
            type="email"
            id="emailRecurso"
            name="emailRecurso"
            class="form-control"
            ng-model="$ctrl.model.emailRecurso">
        <ng-messages 
            class="text-danger" 
            role="alert" 
            for="solicitacaoForm.emailRecurso.$error">
            <ng-message 
                when="email">
                {{$ctrl.messages.email}}
            </ng-message>
        </ng-messages>
    </label>
    <label class="col-md-4">
        <span>Perfil</span>
        <select
            multiple
            id="perfil"
            name="perfil" 
            class="form-control height7" 
            ng-model="$ctrl.model.perfil" 
            ng-options="item.descricao for item in $ctrl.perfil2List track by item.id">
        </select>
    </label>
</div>