<div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="modal-title">Histórico Antes/Depois</h4>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">

        <label class="col-md-6">
            <span>Antes</span>
            <input type="file" class="form-control">
        </label>

        <label class="col-md-6 clearfix">
            <span>Depois</span>
            <input type="file" class="form-control">
        </label>

    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="$ctrl.ok()">
        <i class="fa fa-check"></i>
        Confirmar
    </button>
    <button class="btn btn-danger" type="button" ng-click="$ctrl.cancel()">
        <i class="fa fa-times"></i>
        Cancelar
    </button>
</div>