<div class="well">
    <h3>Objeto deste documento:</h3>
    <p>O objetivo deste documento é registrar solicitação de evolução na aplicação PJD – Processo Judicial Digital</p>
</div>
<div class="row">
    <label class="col-md-4">
        <span>Solicitante</span>
        <input
            ng-disabled="true"
            name="solicitante" 
            id="solicitante"
            class="form-control" 
            ng-model="$ctrl.model.solicitante">
    </label>
    <label class="col-md-4">
        <span required-label="funcionalidade">Funcionalidade</span>
        <input
            ng-required="true"
            name="funcionalidade" 
            id="funcionalidade"
            class="form-control" 
            ng-model="$ctrl.model.funcionalidade">
        <ng-messages 
            class="text-danger" 
            role="alert" 
            for="solicitacaoForm.funcionalidade.$error">
            <ng-message 
                when="required">
                {{$ctrl.messages.required}}
            </ng-message>
        </ng-messages>
    </label>
    <label class="col-md-4">
        <span required-label="identificador">Identificador</span>
        <input
            type="number"
            name="identificador" 
            id="identificador"
            class="form-control" 
            ng-model="$ctrl.model.identificador">
        <ng-messages 
            class="text-danger" 
            role="alert" 
            for="solicitacaoForm.identificador.$error">
            <ng-message 
                when="number">
                {{$ctrl.messages.number}}
            </ng-message>
        </ng-messages>
    </label>
    <label class="col-md-4">
        <span>Classificação do Erro</span>
        <select
            id="classificacaoErro"
            name="classificacaoErro" 
            class="form-control" 
            ng-model="$ctrl.model.classificacaoErro" 
            ng-options="item.descricao for item in $ctrl.niveisList track by item.id">
            <option value="">Selecione</option>
        </select>
    </label>
    <label class="col-md-4">
        <span>Caminho</span>
        <input
            name="caminho" 
            id="caminho"
            class="form-control" 
            ng-model="$ctrl.model.caminho">
    </label>
    <label class="col-md-8">
        <span required-label="descricaoProblema">Descrição do Problema/Necessidade</span>
        <textarea 
            id="descricaoProblema" 
            name="descricaoProblema" 
            class="form-control height6"
            ng-model="$ctrl.model.descricaoProblema"
            ></textarea>
        <ng-messages 
            class="text-danger" 
            role="alert" 
            for="solicitacaoForm.descricaoProblema.$error">
            <ng-message 
                when="required">
                {{$ctrl.messages.required}}
            </ng-message>
        </ng-messages>
        <br>
        <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.abrirModalHistorico()">
            <i class="fas fa-history"></i> Histórico Antes/Depois
        </button>
    </label>
    <label class="col-md-4">
        <span>Tabelas Envolvidas</span>
        <select
            multiple
            id="tabelasEnvolvidas"
            name="tabelasEnvolvidas" 
            class="form-control height6" 
            ng-model="$ctrl.model.tabelasEnvolvidas" 
            ng-options="item.descricao for item in $ctrl.tabelasEnvolvidasList track by item.id">
        </select>
    </label>
    <label class="col-md-8 clearfix">
        <span>Justificativa</span>
        <input
            name="justificativa" 
            id="justificativa"
            class="form-control" 
            ng-model="$ctrl.model.justificativa">
    </label>
</div>
<fieldset class="row">
    <div class="col-md-12">
        <legend>Análise de Impacto</legend>
    </div>
    <label class="col-md-4">
        <span>Prioridade</span>
        <select
            id="prioridade"
            name="prioridade" 
            class="form-control" 
            ng-model="$ctrl.model.prioridade" 
            ng-options="item.descricao for item in $ctrl.niveisList track by item.id">
            <option value="">Selecione</option>
        </select>
    </label>
    <label class="col-md-4">
        <span>Riscos Identificados</span>
        <input
            placeholder="Se não for feita a mudança."
            name="riscosIdentificados" 
            id="riscosIdentificados"
            class="form-control" 
            ng-model="$ctrl.model.riscosIdentificados">
    </label>
    <label class="col-md-8">
        <span>Parecer da Análise de Impacto</span>
        <textarea 
            id="parecerAnalise" 
            name="parecerAnalise" 
            class="form-control"
            rows="3"
            ng-model="$ctrl.model.parecerAnalise"></textarea>
    </label>
    
    <label class="col-md-4 clearfix">
        <span>Preenchido por</span>
        <input 
            id="preenchidoPor"
            name="preenchidoPor"
            class="form-control"
            ng-model="$ctrl.model.preenchidoPor">
    </label>
    <label class="col-md-4">
        <span required-label="emailRecurso">E-mail</span>
        <input 
            type="email"
            id="emailRecurso"
            name="emailRecurso"
            class="form-control"
            ng-model="$ctrl.model.emailRecurso">
        <ng-messages 
            class="text-danger" 
            role="alert" 
            for="solicitacaoForm.emailRecurso.$error">
            <ng-message 
                when="email">
                {{$ctrl.messages.email}}
            </ng-message>
        </ng-messages>
    </label>
</fieldset>