<form name="solicitacaoForm" novalidate>
    <fieldset class="row">
        <div class="col-md-12">
            <legend>Identificação do Contrato</legend>
        </div>
        <label class="col-md-4 clearfix">
            <span>Orgão Responsável</span>
            <input
                name="orgaoResponsavel" 
                id="orgaoResponsavel"
                ng-disabled="true"
                class="form-control" 
                ng-model="$ctrl.model.orgaoResponsavel">
        </label>
        <label class="col-md-4">
            <span>Nº do Contrato</span>
            <input
                name="nContrato" 
                id="nContrato"
                ng-disabled="true"
                class="form-control" 
                ng-model="$ctrl.model.nContrato">
        </label>
        <label class="col-md-4">
            <span>Nº Ordem de Serviço</span>
            <input
                name="nOrdemServico" 
                id="nOrdemServico"
                class="form-control" 
                ng-model="$ctrl.model.nOrdemServico"
                mask="99.www"
                restrict="reject"
                list="nOrdemServicoList">
                <datalist id="nOrdemServicoList">
                    <option value="10.xxx">
                    <option value="10.001">
                    <option value="10.002">
                    <option value="10.003">
                    <option value="10.004">
                    <option value="10.005">
                </datalist>
        </label>
    </fieldset>
    <fieldset class="row">
        <div class="col-md-12">
            <legend>Identificação do Projeto</legend>
        </div>
        <label class="col-md-4">
            <span required-label="projeto">Projeto</span>
            <select
                ng-required="true"
                name="projeto" 
                id="projeto"
                class="form-control" 
                ng-model="$ctrl.model.projeto" 
                ng-options="item.descricao for item in $ctrl.projetosList track by item.id">
                <option value="">Selecione</option>
            </select>
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="solicitacaoForm.projeto.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
        <div class="col-md-4 input-label">
            <span required-label="possuiDocumentacao">O projeto possui documentação</span>
            <label>
                <input
                    type="radio"
                    name="possuiDocumentacao" 
                    id="possuiDocumentacao"
                    ng-model="$ctrl.model.possuiDocumentacao"
                    ng-value="true"
                    ng-required="true">
                <span>Sim</span>
            </label>
            <label>
                <input
                    type="radio"
                    name="possuiDocumentacao" 
                    id="possuiDocumentacao"
                    ng-model="$ctrl.model.possuiDocumentacao"
                    ng-value="false"
                    ng-required="true">
                <span>Não</span>
            </label>
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="solicitacaoForm.possuiDocumentacao.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </div>
        <label class="col-md-4 clearfix">
            <span>Gestor do Projeto</span>
            <input
                ng-disabled="true"
                name="gestor" 
                id="gestor"
                class="form-control" 
                ng-model="$ctrl.model.gestor"
                list="gestorList">
                <datalist id="gestorList">
                    <option value="Ana Claudia Bastos Loureiro">
                    <option value="William Cesar Cardoso Guiraldelli">
                </datalist>
        </label>
        <label class="col-md-4">
            <span>E-mail</span>
            <input
                ng-disabled="true"
                name="emailGestor" 
                id="emailGestor"
                type="email"
                class="form-control" 
                ng-model="$ctrl.model.emailGestor">
        </label>
        <label class="col-md-4">
            <span>Telefone</span>
            <input
                name="telefoneGestor" 
                id="telefoneGestor"
                type="tel"
                class="form-control" 
                ng-disabled="true"
                ng-model="$ctrl.model.telefoneGestor"
                mask="(99) 9?9999-9999"
                restrict="reject">
        </label>
    </fieldset>

    <fieldset class="row">
        <div class="col-md-12">
            <legend>Nº Solicitação de Mudança: {{$ctrl.model.nSolicitacaoMudanca}}</legend>
        </div>
        <label class="col-md-4">
            <span>Gerente de Projetos</span>
            <input
                name="gerenteProjetos" 
                id="gerenteProjetos"
                class="form-control" 
                ng-model="$ctrl.model.gerenteProjetos"
                list="gerenteProjetosList">
            <datalist id="gerenteProjetosList">
                <option value="Ana Claudia Bastos Loureiro">
                <option value="William Cesar Cardoso Guiraldelli">
            </datalist>
        </label>
        <label class="col-md-4">
            <span>Email</span>
            <input
                ng-disabled="true"
                type="email"
                name="emailGerenteProjetos" 
                id="emailGerenteProjetos"
                class="form-control" 
                ng-model="$ctrl.model.emailGerenteProjetos">
        </label>
        <label class="col-md-4">
            <span>Telefone</span>
            <input
                ng-disabled="true"
                type="tel"
                name="telefoneGerenteProjetos" 
                id="telefoneGerenteProjetos"
                class="form-control" 
                ng-model="$ctrl.model.telefoneGerenteProjetos">
        </label>

    </fieldset>

    <div class="row">
        <label class="col-md-4">
            <span required-label="tipoSolicitacao">Tipo de Solicitação</span>
            <select
                ng-required="true"
                name="tipoSolicitacao" 
                id="tipoSolicitacao"
                class="form-control" 
                ng-model="$ctrl.model.tipoSolicitacao" 
                ng-options="item.descricao for item in $ctrl.tipoSolicitacaoList track by item.id">
                <option value="">Selecione</option>
            </select>
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="solicitacaoForm.tipoSolicitacao.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
        <label class="col-md-4" ng-if="$ctrl.model.tipoSolicitacao.id && $ctrl.model.tipoSolicitacao.id == 1">
            <span required-label="tipoSustentacao">Tipo de Sustentação</span>
            <select
                required
                name="tipoSustentacao" 
                id="tipoSustentacao"
                class="form-control" 
                ng-model="$ctrl.model.tipoSustentacao" 
                ng-options="item.descricao for item in $ctrl.tipoSustentacaoList track by item.id">
                <option value="">Selecione</option>
            </select>
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="solicitacaoForm.tipoSustentacao.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
    </div>

    <div class="hidden-section" ng-include="$ctrl.getHiddenSection()"></div>

    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-success">
                Salvar
            </button>
        </div>
    </div>
</div>
    
            