<div class="row">
    <div class="col-md-12">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit sit similique, laboriosam tempora magnam odio ea architecto suscipit dicta repudiandae doloremque eveniet, nisi veritatis asperiores aliquid, minus fuga blanditiis tempore?
    </div>
</div>

        