<ul class="list-group">
    <li class="list-group-item">
        <ul class="breadcrumb">
            <li ng-repeat="item in $ctrl.view.breadcrumb">
                <a ng-if="::item.url" href ng-click="$ctrl.redirect(item.url, item.clearSession)"><i ng-if="::item.icon" ng-class="::item.icon" aria-hidden="true"></i> {{item.title}}</a>
                <span ng-if="::!item.url"><i ng-if="::item.icon" ng-class="::item.icon" aria-hidden="true"></i> {{item.title}}</span>
            </li>
        </ul> 
    </li>
    <li class="list-group-item" ng-repeat="item in $ctrl.view.sidebar"><a href ng-click="$ctrl.redirect(item.url, item.clearSession)"><i ng-if="::item.icon" ng-class="::item.icon" aria-hidden="true"></i> {{item.title}}</a></li>
</ul>