<form name="recursoForm" novalidate ng-submit="$ctrl.salvar()">

    <div class="row">
        <label class="col-md-4">
            <span required-label="nome">Nome</span>
            <input 
            id="nome"
            name="nome"
            required
            type="text" 
            class="form-control"
            ng-model="$ctrl.model.nome">
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="recursoForm.nome.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
        <label class="col-md-4">
            <span required-label="horarioTrabalho">Horário de Trabalho</span>
            <div class="input-group">
                <span class="input-group-addon">
                    Das
                </span>
                <input 
                    required
                    id="horarioTrabalhoDas"
                    name="horarioTrabalhoDas"
                    type="text" 
                    class="form-control"
                    mask="99:99"
                    restrict="reject"
                    placeholder="99:99"
                    ng-model="$ctrl.horarioTrabalhoDas"
                    ng-change="$ctrl.updateHorarioTrabalho()">
                <span class="input-group-addon">
                    Às
                </span>
                <input 
                    required
                    id="horarioTrabalhoAs"
                    name="horarioTrabalhoAs"
                    type="text" 
                    class="form-control"
                    mask="99:99"
                    restrict="reject"
                    placeholder="99:99"
                    ng-model="$ctrl.horarioTrabalhoAs"
                    ng-change="$ctrl.updateHorarioTrabalho()">
            </div>
            <input
                required 
                id="horarioTrabalho"
                name="horarioTrabalho"
                type="hidden"
                class="form-control"
                ng-model="$ctrl.model.horarioTrabalho">
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="recursoForm.horarioTrabalho.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
        <label class="col-md-4 clearfix">
            <span required-label="equipe">Equipe</span>
            <select 
                id="equipe"
                name="equipe"
                required
                class="form-control"
                ng-model="$ctrl.model.equipe"
                ng-change="$ctrl.filtrarPapeis()">
                <option value="">Selecione</option>
                <option ng-value="item.descricao" ng-repeat="item in $ctrl.equipeList track by item.id">{{item.descricao}}</option>
            </select>
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="recursoForm.equipe.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
        <label class="col-md-4">
            <span required-label="papel">Papel</span>
            <select 
                id="papel"
                name="papel"
                required
                class="form-control"
                ng-model="$ctrl.model.papel">
                <option value="">Selecione</option>
                <option ng-value="item.descricao" ng-repeat="item in $ctrl.papelFiltradoList track by item.id">{{item.descricao}}</option>
            </select>
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="recursoForm.papel.$error">
                <ng-message 
                    when="required">
                    {{$ctrl.messages.required}}
                </ng-message>
            </ng-messages>
        </label>
        <label class="col-md-4 clearfix">
            <span required-label="telefone">Telefone</span>
            <input 
            required
            id="telefone"
            name="telefone"
            type="text" 
            class="form-control"
            mask="(99) 99999-9999"
            restrict="reject"
            ng-model="$ctrl.model.telefone">
        </label>

        <label class="col-md-4">
            <span required-label="alocacao">Alocação</span>
            <select 
                required
                id="alocacao"
                name="alocacao"
                class="form-control"
                ng-model="$ctrl.model.alocacao">
                <option value="">Selecione</option>
                <option ng-value="item.descricao" ng-repeat="item in $ctrl.alocacaoList track by item.id">{{item.descricao}}</option>
            </select>
        </label>

        <label class="col-md-4">
            <span>Horas Trabalhadas</span>
            <input 
            id="horasTrabalhadas"
            name="horasTrabalhadas"
            type="number" 
            class="form-control"
            ng-model="$ctrl.model.horasTrabalhadas">
            <ng-messages 
                class="text-danger" 
                role="alert" 
                for="recursoForm.horasTrabalhadas.$error">
                <ng-message 
                    when="number">
                    {{$ctrl.messages.number}}
                </ng-message>
            </ng-messages>
        </label>

        <label class="col-md-12">
            <span>Projetos</span>
            <select 
                multiple
                id="projetos"
                name="projetos"
                class="form-control height12"
                ng-model="$ctrl.model.projetos">
                <option ng-value="item.descricaoProjeto" ng-repeat="item in $ctrl.projetosList track by item.descricaoProjeto">{{item.descricaoProjeto}}</option>
            </select>
        </label>

        <label class="col-md-12">
            <span>Mapeamento de Responsabilidades</span>
            <select 
                multiple
                id="responsabilidades"
                name="responsabilidades"
                class="form-control height12"
                ng-model="$ctrl.model.responsabilidades">
                <option ng-value="item.descricao" ng-repeat="item in $ctrl.responsabilidadeList track by item.id">{{item.descricao}}</option>
            </select>
        </label>
    </div>

    <fieldset class="row">
        <div class="col-md-12">
            <legend>
                Agenda
            </legend>
            <div class="table-responsive">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <td width="10%"><b>Dias/Horário</b></td>
                            <td width="18%" class="text-center">Segunda</td>
                            <td width="18%" class="text-center">Terça</td>
                            <td width="18%" class="text-center">Quarta</td>
                            <td width="18%" class="text-center">Quinta</td>
                            <td width="18%" class="text-center">Sexta</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>Manhã:</b></td>
                            <td class="text-center">
                                <input type="checkbox" ng-model="$ctrl.model.agenda.manha.segunda">
                            </td>
                            <td class="text-center">
                                <input type="checkbox" ng-model="$ctrl.model.agenda.manha.terca">
                            </td>
                            <td class="text-center">
                                <input type="checkbox" ng-model="$ctrl.model.agenda.manha.quarta">
                            </td>
                            <td class="text-center">
                                <input type="checkbox" ng-model="$ctrl.model.agenda.manha.quinta">
                            </td>
                            <td class="text-center">
                                <input type="checkbox" ng-model="$ctrl.model.agenda.manha.sexta">
                            </td>
                        </tr>
                        <tr>
                            <td><b>Tarde:</b></td>
                            <td class="text-center">
                                <input type="checkbox" ng-model="$ctrl.model.agenda.tarde.segunda">
                            </td>
                            <td class="text-center">
                                <input type="checkbox" ng-model="$ctrl.model.agenda.tarde.terca">
                            </td>
                            <td class="text-center">
                                <input type="checkbox" ng-model="$ctrl.model.agenda.tarde.quarta">
                            </td>
                            <td class="text-center">
                                <input type="checkbox" ng-model="$ctrl.model.agenda.tarde.quinta">
                            </td>
                            <td class="text-center">
                                <input type="checkbox" ng-model="$ctrl.model.agenda.tarde.sexta">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>
    
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-success">
                Salvar
            </button>
        </div>
    </div>
    
</div>
        
                        